.flexx {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ico-whattsapp {
  position: fixed; /* mejor que absolute en iconos flotantes */
  bottom: 10px;
  right: 10px;
  padding: 5px;
  width: 60px;
  transition: 0.3s;
  z-index: 9999;
}

.ico-whattsapp:hover {
  width: 70px;
}

/* Animación */
.float-animation {
  animation: flotar 3s ease-in-out infinite, brillo 2.5s ease-in-out infinite;
}

@keyframes flotar {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes brillo {
  0%,
  100% {
    filter: drop-shadow(0 0 0px #20c063);
  }
  50% {
    filter: drop-shadow(0 0 8px #20c063);
  }
}
